<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>github cards</title>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
</head>
<body ng-app="GithubCardApp">
  <header>

    <nav ng-controller="NavCtrl">
      <div class="nav-wrapper black">
        <a href="#" class="brand-logo center">gitwatch</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" ng-show="!user">
          <li>sign in with:</li>
          <li><a href="/auth/github" class="grey-text text-lighten-3"><i class="fa fa-github github fa-3x"></i></a></li>
          <li><a href="/auth/google" class="grey-text text-lighten-3"><i class="fa fa-google-plus google-plus fa-3x"></i></a></li>
        </ul>
        <ul class="right hide-on-med-and-down" ng-show="user">

          <li><a ui-sref="dashboard" class="grey-text text-lighten-3"><i class="material-icons">dashboard</i></a></li>
          <li><a ui-sref="profile" class="grey-text text-lighten-3"><i class="material-icons white-text">person</i></a></li>
          <li><a href="/logout" class="grey-text text-lighten-3"><i class="fa fa-sign-out"></i></a></li>
        </ul>

        <ul class="side-nav black" id="mobile-demo">

          <div ng-show="user">
            <li><a ui-sref="dashboard" class="grey-text text-lighten-3">dashboard</a></li>
            <li><a ui-sref="profile" class="grey-text text-lighten-3">profile</a></li>
            <li><a href="/logout" class="grey-text text-lighten-3">logout</a></li>
          </div>
          <div ng-show="!user">
            <a href="/auth/github" class="grey-text text-lighten-3"><span class="fa fa-github"></span> sign in with github</a>
            <a href="/auth/google" class="grey-text text-lighten-3"><span class="fa fa-google-plus"></span> sign in with google</a>
          </div>



        </ul>
      </div>
    </nav>
  </header>
  <main>

    <div class="container">
      <ui-view></ui-view>
    </div>
    </main>


  <br>
  <br>

  <footer class="page-footer black">
    <div class="footer-copyright">
      <div class="container grey-text">
      © warlyware
      <a href="//github.com/warlyware" class="grey-text right grey-text">visit my github</a>
      </div>
    </div>
  </footer>


  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/controllers/home.js"></script>
  <script src="/javascripts/controllers/profile.js"></script>
  <script src="/javascripts/controllers/nav.js"></script>
  <script src="/javascripts/controllers/dashboard.js"></script>
</body>
</html>
