
<div class="dashboard">

  <br>
  <br>
  <br>
  <div>
    <a href="#add-git-user-modal" class="modal-trigger">
      <div class="add-git-user"><i class="fa fa-4x fa-plus white-text"></i></div>
    </a>
  </div>

  <div class="row github-cards">
    <div class="col s12">
      <div class="card hoverable col s11 m5 l3 offset-s1 offset-m1 offset-l1 github-user-card z-depth-5" ng-repeat="watchedUser in watchedUsers track by $index">
        <div class="card-image">
          <img ng-src="{{watchedUser.image}}">
          <a href="{{watchedUser.url}}"><span class="card-title white-text">{{watchedUser.username}}</span></a>
        </div>
        <div class="card-content">
          <h5><span class="bold">{{watchedUser.name}}</span></h5>
          <p><span class="bold location">{{watchedUser.location}}</span></p>

          <div class="col s4 center">
            <!-- <i class="material-icons">mail</i> -->
            <i class="material-icons">launch</i>
          </div>
          <div class="col s4 center">
            <i class="fa fa-github-square"></i>
          </div>
          <div class="col s4 center">
            <a class="tooltipped" data-position="top" data-delay="30" data-tooltip="{{watchedUser.email || 'email not given'}}">
              <i class="material-icons">forward</i>
            </a>

          </div>

          <p class="flow-text">

<!--
            <span class="bold italic">
              <a href="mailto:{{watchedUser.email}}" class="black-text">{{watchedUser.email || 'email not given'}}</a>
            </span> -->
          </p>

        </div>
      </div>
    </div>
  </div>









  <!-- add github user modal -->
  <div id="add-git-user-modal" class="modal bottom-sheet">
    <div class="modal-content">
      <div class="row">
        <form class="col s6" ng-submit="searchGithubUser()">
          <div class="row">
            <br><br>
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate" ng-model="userToSearch">
              <label for="icon_prefix">github username</label>
            </div>
            <div class="center">
              <button type="submit" ng-disabled="!userToSearch.length" class="btn waves-effect black btn-user-search">search</button>
            </div>
          </div>
        </form>
        <div class="col s6">

          <div class="card grey lighten-2 z-depth-3 git-user-modal-card" ng-show="userToAdd && !errorFindingUser">
            <div class="card-content black-text">
              <div class="row">
                <div class="col s3">
                  <img ng-src="{{userToAdd.avatar_url}}" alt="" class="responsive-img circle">
                </div>
                <div class="col s5 offset-s1">
                  <span class="card-title black-text">user found:</span>
                  <p><span class="bold">name:</span> {{userToAdd.name}}</p>
                  <p><span class="bold">username:</span> {{userToAdd.login}}</p>
                  <p><a ng-href="{{userToAdd.html_url}}" target="_blank" class="black-text"><i class="fa fa-external-link"></i> visit page on github</a></p>
                </div>
                <div class="col s3">
                  <div class="add-git-user-select modal-action modal-close">
                    <i class="fa fa-4x fa-plus white-text" ng-click="addGithubUser()"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card grey lighten-2 z-depth-3 git-user-modal-card" ng-show="userToSearch && errorFindingUser">
            <div class="card-content black-text">
              <div class="row">
                <div class="col s3">
                  <br>
                  <i class="fa fa-exclamation-circle fa-5x red-text"></i>
                </div>
                <div class="col s9">
                  <span class="card-title black-text">user not found:</span>
                  <p>no user found with username: </p>
                  <h5>{{userToSearch}}</h5>
                </div>
              </div>
            </div>
            <div class="card-action">
              <p> </p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
