<!-- <div class="modal-content"> -->
  <!-- <h4>Modal Header</h4>
  <p>A bunch of text</p> -->

  <div class="card grey lighten-2 z-depth-5 github-user-card">
    <div class="card-content grey-text text-darken-3">
      <div class="card-image">
        <img ng-src="{{ngDialogData.image}}">
        <span class="card-title white-text">{{ngDialogData.username}}</span>
      </div>

      <div class="row">
        <br>
        <div class="col s6 center">
          <p class="git-stat-text italic">repos</p>
          <div class="git-stat repos center">
            <a ng-href="{{ngDialogData.url}}?tab=repositories" target="_blank"><div class="git-stat-number">{{ngDialogData.public_repos}}</div></a>
          </div>
        </div>
        <div class="col s6 center">
          <p class="git-stat-text italic">gists</p>
          <div class="git-stat gists center">
            <a ng-href="https://gist.github.com/{{ngDialogData.username}}" target="_blank"><div class="git-stat-number">{{ngDialogData.public_gists}}</div></a>
          </div>
        </div>
        <br>
        <div class="col s6 center">
          <p class="git-stat-text italic">followers</p>
          <div class="git-stat followers center">
            <a ng-href="{{ngDialogData.url}}/followers" target="_blank"><div class="git-stat-number">{{ngDialogData.followers}}</div></a>
          </div>
        </div>
        <div class="col s6 center">
          <p class="git-stat-text italic">following</p>
          <div class="git-stat following center">
            <a ng-href="{{ngDialogData.url}}/following" target="_blank"><div class="git-stat-number">{{ngDialogData.following}}</div></a>
          </div>
        </div>
      </div>


    </div>
  </div>


<!-- </div> -->
<!-- <div class="modal-footer">
  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
</div> -->
