<div>
  <h2>profile page</h2>
  <a class="btn" href="/logout" ng-if="user">logout</a>
  <!-- <h3 ng-if="user.data.length">user: {{user}}</h3> -->
  <div class="row">


    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">google</span>
          <div ng-show="user.google.token">
            <p><strong>google name: </strong>{{user.google.name}}</p>
            <p><strong>google ID: </strong>{{user.google.id}}</p>
            <p><strong>google token: </strong>{{user.google.token}}</p>
            <p><strong>google email: </strong>{{user.google.email}}</p>
          </div>
        </div>
        <div class="card-action">
          <a href="/unlink/google" ng-show="user.google.token">Unlink</a>
          <a href="/connect/google" ng-show="!user.google.token">Connect Google</a>
        </div>
      </div>
    </div>


    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">twitter</span>
          <div ng-show="user.twitter.token">
            <p><strong>twitter name: </strong>{{user.twitter.displayName}}</p>
            <p><strong>twitter ID: </strong>{{user.twitter.id}}</p>
            <p><strong>twitter token: </strong>{{user.twitter.token}}</p>
            <p><strong>twitter username: </strong>{{user.twitter.username}}</p>
          </div>
        </div>
        <div class="card-action">
          <a href="/unlink/twitter" ng-show="user.twitter.token">Unlink</a>
          <a href="/connect/twitter" ng-show="!user.twitter.token">Connect Twitter</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">github</span>
          <div ng-show="user.github.token">
            <p><strong>github name: </strong>{{user.github.name}}</p>
            <p><strong>github ID: </strong>{{user.github.id}}</p>
            <p><strong>gitub token: </strong>{{user.github.token}}</p>
            <p><strong>github email: </strong>{{user.github.email}}</p>
          </div>
        </div>
        <div class="card-action">
          <a href="/unlink/github" ng-show="user.github.token">Unlink</a>
          <a href="/connect/github" ng-show="!user.github.token">Connect Github</a>
        </div>
      </div>
    </div>

  </div>
</div>
