<br>
<br>
<br>

<div class="row">
  <div class="col s12 m6 l4 sidebar">
    <div class="card grey lighten-2 z-depth-5">
      <div class="card-content grey-text text-darken-3">
        <div class="card-title center grey-text text-darken-4">{{user.name}}</div>
        <div class="center">
          <br><br>
          <img class="responsive-img avatar center" ng-src="{{user.image}}" alt="">
          <br><br><br>
        </div>
      </div>
      <div class="card-action">
        <div class="heading">email:</div>
        <p class="user-info"><a ng-href="mailto:{{user.email}}">{{user.email}}</a></p>
        <div class="heading">location:</div>
        <p class="user-info">{{user.location}}</p>

        <!-- <a href="#">This is a link</a>
        <a href="#">This is a link</a> -->
      </div>
    </div>
  </div>



  <div class="col s12 m5 offset-m1 l7 offset-l1">
    <div class="card grey lighten-2 z-depth-5 z-depth-5">
      <div class="card-content">
        <div class="card-title black-text center">github info</div>
        <br>
        <div ng-show="user.github.token">
          <p><span class="bold">github name: </span>{{user.github.name}}</p>
          <p><span class="bold">github email: </span>{{user.github.email}}</p>
        </div>
        <div class="center" ng-show="!user.github.token">
          <a href="/connect/github" class="btn black">
            <i class="fa fa-github"></i>
            connect with github</a>
          <p>to see more info</p>
        </div>
      </div>
      <div class="card-action center">
        <a href="/unlink/github" ng-show="user.github.token" class="btn grey darken-1 white-text">
          <i class="fa fa-github"></i> unlink from github
        </a>
      </div>
    </div>

    <br>

    <div class="card grey lighten-2 z-depth-5 z-depth-5">
      <div class="card-content">
        <div class="card-title black-text center">google info</div>
        <div ng-show="user.google.token">
          <div class="row">
            <br>
            <div class="col s3">
              <img class="responsive-img circle" ng-src="{{user.image}}" alt="">
            </div>
            <div class="col s8 offset-s1">
              <br>
              <p><span class="bold">google name: </span>{{user.google.name}}</p>
              <p><span class="bold">google email: </span>{{user.google.email}}</p>
            </div>
          </div>
        </div>
        <div class="center" ng-show="!user.google.token">
          <br>
          <a href="/connect/google" class="btn red darken-1 white-text">
            <i class="fa fa-google"></i> connect with google
          </a>
        </div>
      </div>
      <div class="card-action center" ng-show="user.google.token">
        <a href="/unlink/google" class="btn red lighten-2 white-text">
          <i class="fa fa-google"></i> unlink from google
        </a>
      </div>
    </div>


  </div>

</div>
