body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/woodbg.png');
  background-repeat: repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.rounded {
  border-radius: 10px;
}

main {
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  color: white;
}

hr {
  color: #757575;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}


.btn {
  border-radius: 5px !important;
}

.btn-github {
  margin-left: 18px;
}

.card {
  border-radius: 10px !important;
}

.card-content p {
  font-size: 1.2em;
  line-height: 1.8em;
}

.card-action {
  border-top: 1px solid rgba(160,160,160,0.5) !important;
}

.card-content .card-title {
  border-bottom: 1px solid rgba(160,160,160,0.5);
}


.add-git-user i {
  background-color: black;
  margin-top: 2px;
  padding: 5px 10px 3px 10px;
  border-radius: 50%;
  position: fixed;
  bottom: 120px;
  right: 30px;
}

.add-git-user-select {
  padding-top: 6vh;
}

.add-git-user-select i {
  background-color: green;
  margin-top: 2px;
  padding: 5px 10px 3px 10px;
  border-radius: 50%;
}

.btn-user-search {
  width: 40vw;
}

.git-user-modal-card {
  padding-bottom: 15px !important;
}

.nav-wrapper .github {
  margin-left: 2px;
}

.nav-wrapper .google-plus {
  margin-top: 2px;
}

.nav-wrapper .login-buttons {
  margin-right: 15px;
}

.sidebar .avatar {
  border-radius: 5px;
}

.sidebar .card-action a {
  color: black !important;
  text-transform: none !important;
}

.sidebar .heading {
  font-size: 1em;
}

.sidebar .card-action .user-info {
  font-size: 1.2em;
  margin-left: 15px;
}
/*
.side-nav div {
  padding-top: 10px !important;
  padding-left: 10px !important;
}*/
