body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/woodbg.png');
  background-repeat: repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.rounded {
  border-radius: 10px;
}

main {
  flex: 1 0 auto;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  color: white;
}

hr {
  color: #757575;
}

.avatar {
  padding-left: 30px;
  padding-right: 30px;
}

.ngdialog-content {
  padding: 0 !important;
  border-radius: 10px !important;
}

.ngdialog {
  padding-top: 50px !important;
}

.ngdialog .ngdialog-close {
  visibility: hidden !important;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#toast-container {
  z-index: 1000000 !important;
}


.btn {
  border-radius: 5px !important;
}

.btn-github {
  margin-left: 18px;
}

.card {
  border-radius: 10px !important;
}

.card-content p {
  font-size: 1.2em;
  line-height: 1.8em;
}

.card-action {
  border-top: 1px solid rgba(160,160,160,0.5) !important;
}

.card-content .card-title {
  border-bottom: 1px solid rgba(160,160,160,0.5);
}

.import-git-row {
  border-bottom: 1px solid rgba(160,160,160,0.5);
}

.import-git-user i {
  cursor: pointer;
  background-color: darkgreen;
  z-index: 1000;
  margin-top: 8px;
  padding: 5px 10px 3px 10px;
  border-radius: 50%;
}

.import-git-row h5 {
  margin-top: 27px;
  margin-left: 5px;
}

.github-user-card .card-title {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}


.github-user-card .git-stat-text {
  font: 2em;
}

.github-user-card .git-stat {
  margin: 0 auto;
  margin-bottom: 15px;
  height: 115px;
  width: 115px;
  border-radius: 50%;
}


.github-user-card .repos {
  background-color: #37C1D1;
}


.github-user-card .gists {
  background-color: #E5187D;
}


.github-user-card .followers {
  background-color: #41D190;
}


.github-user-card .following {
  background-color: black;
}

.github-user-card .card-contet {
  border-radius: 10px !important;
}

.github-user-card .git-stat-number {
  padding-top: 40%;
  font-size: 2.7em;
  color: white;
}

.dashboard .add-git-user i {
  background-color: black;
  z-index: 1000;
  margin-top: 2px;
  padding: 5px 10px 3px 10px;
  border-radius: 50%;
  position: fixed;
  bottom: 120px;
  right: 30px;
}

.dashboard .add-git-user-select {
  padding-top: 6vh;
}

.dashboard .add-git-user-select i {
  background-color: green;
  margin-top: 2px;
  padding: 5px 10px 3px 10px;
  border-radius: 50%;
}

.dashboard .btn-user-search {
  width: 40vw;
}

.dashboard .git-user-modal-card {
  padding-bottom: 15px !important;
}

.dashboard .github-user-card {
  padding-top: 10px !important;
  margin-bottom: 50px;
}

.dashboard .github-user-card i {
  color: black;
  font-size: 2.5em;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.dashboard .github-user-card .watched-name {
  border-bottom: 1px solid rgba(160,160,160,0.5);
}

.dashboard .github-user-card .location {
  padding-bottom: 5px;
  margin-top: 10px;
  display: block;
  overflow: hidden;
  /*float: left;*/
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.dashboard .github-user-card img {
  border-radius: 5px !important;
}





.dashboard .github-cards {
  margin-left: -8vw !important;
}

.nav-wrapper .github {
  margin-left: 2px;
}

.nav-wrapper .google-plus {
  margin-top: 2px;
}

.nav-wrapper .login-buttons {
  margin-right: 15px;
}

.sidebar .avatar {
  border-radius: 5px;
}

.sidebar .card-action a {
  color: black !important;
  text-transform: none !important;
}

.sidebar .heading {
  font-size: 1em;
}

.sidebar .card-action .user-info {
  font-size: 1.2em;
  margin-left: 15px;
}
